# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file in your project root
root = true

# Global settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation settings
[*.go]
indent_style = tab
indent_size = 4

# Makefile should use tabs for indentation
[Makefile]
indent_style = tab

# YAML files (e.g., configuration files)
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files (e.g., documentation)
[*.md]
trim_trailing_whitespace = false
